# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js or css files or other build files in the repo.
# main.js, styles.css, and manifest.json should be uploaded to GitHub releases instead.
main.js
styles.css
*.js.map
*build.js

# Exclude sourcemaps
*.map

# Obsidian plugin settings
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# test coverage
coverage/
